body {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(0, 0%, 3%);

}

nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    border-bottom: 1px solid rgb(66, 0, 128);
    z-index: 2;
}

li {
    float: left;
}

li a {
    display: block;
    color: hsl(271, 100%, 50%);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    opacity: 0.6;

}

li a:hover {
    border: 1px solid rgb(66, 0, 128);
    background-color: hsl(271, 100%, 5%);
    opacity: 1;
}

h1 {
    color: hsl(271, 100%, 50%);
}

.gameplay {
    position: fixed;
    top: 5vh;
    left: 0;
    color: hsl(271, 100%, 50%);
    border: 1px solid rgb(66, 0, 128);
    background-color: hsl(271, 100%, 5%);
    width: 45%;
    padding: 10px;
    text-align: start;
    z-index: 1;
}

.nyx {
    position: fixed;
    bottom: 0;
    right: -15%;
    height: 100%;
    z-index: -1;
    border: 1px solid rgb(66, 0, 128);
    opacity: .7;
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.nyx:hover {
    opacity: 1;
}
@keyframes slide {

    0% {
        right: -100%;
    }

    100% {
        right: -15%;
    }
}

@media (max-width: 900px) {    
    .nyx {
    position: fixed;
    right: -50%;
    height: 100%;
    }
    @keyframes slide {

        0% {
            right: -100%;
        }
    
        100% {
            right: -50%;
        }
    }
}

@media (max-width: 680px) {    
    .nyx {
    position: fixed;
    right: -75%;
    height: 100%;
    }
    .gameplay {
        height: 100%;
        overflow: scroll;
    }

    @keyframes slide {

        0% {
            right: -100%;
        }
    
        100% {
            right: -75%;
        }
    }
}
