body {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(0, 0%, 3%);

}

nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    border-bottom: 1px solid hsl(43, 67%, 57%);
    z-index: 3;
}

li {
    float: left;
}

li a {
    display: block;
    color: silver;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    opacity: 0.6;

}

li a:hover {
    border: 1px solid hsl(43, 67%, 57%);
    background-color: hsl(43, 67%, 10%);
    opacity: 1;
}

h1 {
    color: hsl(43, 67%, 57%);
}

footer {
    color: silver;
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: end;
    border-top: 1px solid silver;
    background-color: hsl(43, 67%, 10%);
    z-index: 1;
}
.megaera {
    position: fixed;
    bottom: 0;
    right: -10%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    animation-name: slide-left;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.megaera:hover {
    opacity: 1;
}

.thanatos {
    position: fixed;
    bottom: 0;
    left: -15%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    animation-name: slide-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.thanatos:hover {
    opacity: 1;
}

@keyframes slide-right {

    0% {
        left: -100%;
    }

    100% {
        left: -15%;
    }
}

@keyframes slide-left {

    0% {
        right: -100%;
    }

    100% {
        right: -10%;
    }
}

.storyline {
    color: hsl(43, 67%, 57%);
    border: 1px solid silver;
    border-right-color: hsl(43, 67%, 57%);
    background-color: hsl(0, 0%, 5%);
    width: 40%;
    height: 80%;
    margin: auto;
    margin-top: 3%;
    padding: 10px;
    margin-bottom: 10%;
    text-align: center;
}

.storyline:hover {
    z-index: 1;
}

